.container{
    align-content: center;
}
.jumbotron-fluid{
    text-align: center;
    background-color: red;
}
h4{
    color:black;
    background-color: blue;
}
.card-header{
    background-color: blue;
}